* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #d1e7dd;
  height: 20%;
  align-items: center;
}

nav {
  align-self: auto;
  height: 170px;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 90%;
  height: 50px;
}

li {
  float: left;
}
li a {
  color: #000;
  display: block;
  padding: 15px 16px;
  text-decoration: none;
  font-size: larger;
}

li a:hover {
  background-color: #555;
  color: white;
}

section {
  height: 1250px;
  background-color: #ffdfe5;
}
h2 {
  padding: 10px 150px;
}

.logo {
  width: 170px;
  float: left;
}

.container {
  margin: 20px;
  height: 500px;
  display: grid;
  grid-template: 50% 50% / 20% 20% 20% 20%;
  gap: 2%;
  justify-content: center;
  text-align: center;
}

.container1 {
  margin: 0px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(15, 10vh);
  grid-template-rows: repeat(5, 7vh);
  text-align: center;
  justify-content: center;
}

.container img {
  display: block;
  margin: 10px auto;
  max-width: 90%;
  max-height: 70%;
  border-radius: 20px;
}

.box {
  background-color: azure;
}

.box-image-e {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 7;
}

.box-label-e {
  grid-column-start: 4;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 5;
  background-color: #77545967;
  border-radius: 35px;
  border-style: groove;
  padding: 10px;
  font-size: large;
}

.box-image-d {
  grid-column-start: 12;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 7;
}

.box-label-d {
  grid-column-start: 5;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 5;
  background-color: aqua;
  border-radius: 35px;
  border-style: groove;
  padding: 10px;
  font-size: large;
}
.container1 img {
  display: block;
  margin: 10px auto;
  max-width: 99%;
  max-height: 99%;
  border-radius: 50%;
  border-style: groove;
}
